@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

:root {
  --blue: #7094db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--blue);
  color: #142952;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #2d5bb9;
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
}

body {
  background: #5b84d7;
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.btn {
  padding: 0.7rem 3rem;
  background: #0f1e3e;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}
.btn:hover {
  background: var(--blue);
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid #142952;
  color: #fff;
}

.heading span {
  color: #142952;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #0f1e3e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.pro-img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--blue);
}

.name {
  font-size: 3.5rem;
  color: white;
}

.role {
  font-size: 2rem;
  color: wheat;
}

header.navbar {
  width: 100%;
}

.list {
  list-style: none;
  padding: 1rem 3rem;
}

.list-item {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #142952;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}

.list-item:hover {
  background: var(--blue);
}

#menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: #142952;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0.15rem;
}

.h1 {
  font-size: 5rem;
  color: #fff;
}

.h3 {
  font-size: 3.5rem;
}

.intro {
  font-size: 2.3rem;
  text-transform: none;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}

.box span {
  font-size: 1.3rem;
  background: #2d5bb9;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.box h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 1.5rem;
}

.box p {
  font-size: 1.4rem;
  color: #142952;
  padding: 1rem 0;
}

.box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: var(--blue);
}

.projects .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.projects .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.projects .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projects .box-container .box:hover img {
  transform: scale(1.2);
}

.contacts .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contacts .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contacts .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #142952;
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contacts .row form .box::placeholder {
  text-transform: capitalize;
}

.contacts .row form .message {
  height: 15rem;
  resize: none;
}

.contacts .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contacts .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: azure;
  padding: 1rem 0;
  font-weight: normal;
  text-transform: none;
}

.contacts .row .content .info h3 i {
  padding-right: 1rem;
  color: #0f1e3e;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }
  #menu {
    display: block;
  }
  header.toggle {
    left: 0%;
  }
  body {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vh;
  }

  .heading {
    margin: 0.3rem;
  }

  .about .box-container .box {
    width: 100%;
  }

  .projects .box-container .box {
    width: 100%;
  }

  .contacts .row form {
    margin: 3rem 0;
  }
}
